@charset "utf-8";

#map {
	height: 50rem;	
}

.dlt  {
	height: 15rem;
	align-items: center;
}

.iconDLT {
	height: 10rem;	
}

 pre {
	width: 100%;
	height: auto;
	padding: 0.7rem;
	background-color: #00a0df;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}