@charset "utf-8";


.form-horizontal {
	margin-bottom: 1rem;
	margin-top: 1rem;
	background-color: #eeeeee;
	padding: 2rem;
}

#Logopay1 {
	width: 20rem;
}

#Logopay2 {
	width: 20rem;
}