@charset "utf-8";
/* CSS Document */



/* -------------------------------------------------Animaciones-chuleta--------------------------------------------------------*/




/* -------------------------------------------------Desdela izq--------------------------------------------------------*/
animation: slide-left 1s linear;

@keyframes slide-left {
  from {
    margin-left:  -300px;
  }

  to {
    margin-left: 0px;
  }
}




/* -------------------------------------------------Flotando--------------------------------------------------------*/

animation: float 3s linear infinite;
}


@keyframes float {
	0%, 100% {
		transform: translateY(0rem)
}
50% {
	transform: translateY(2rem)
}
}

/* -------------------------------------------------Move hacia abajo--------------------------------------------------------*/

	animation: iconoffice 1s linear infinite;


@keyframes iconoffice {
	0%, 100% {
		transform: translateY(0rem)
}
50% {
	transform: translateY(1rem)
}
}

/* -------------------------------------------------rotacionotroobjetodetras--------------------------------------------------------*/

.cara {
  position: absolute;
  backface-visibility: hidden;
}

.cara.detras {
  transform: rotateY(180deg);
}

.carta .cara img {
  width: 6.25em;
  height: 6.25em;
}
.carta .cara.detras img {
  width: 6.25em;
  height: 6.25em;
}


/* -------------------------------------------------zoom in--------------------------------------------------------*/

.animation: zoom-in 1s ease;


@keyframes zoom-in {
  0% {
    transform: scale(0.5, 0.5);
  }
  
  100% {
    transform: scale(1, 1);
  }
}